html, body {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background-position: 100% 50%;
}
body, .wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f2f2f2;
	font-family: 'Exo 2', sans-serif;
}
a {
	text-decoration: none;
	color: #a2d3e8;
}
a:visited {
	color: #f2bf99;
}
h1,
h2 {
	text-align: center;
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}
h1 {
	font-size: 3em;
	margin-top: 5px;
	line-height: 1.5em;
}
h2 {
	font-size: 1em;
	font-weight: normal;
	margin-bottom: 10px;
}
h3 {
	font-size: 1.5em;
	margin-top: 20px;
	font-weight: normal;
}
.content {
	margin: 0 auto 10px auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	width: 80%;
	border-radius: 15px;
}
.content h3 {
	text-align: center;
	padding-bottom: 10px;
}
/* contact panel */
.contact {
	text-align: center;
	margin-bottom: 10px;
}
.contact hr {
	display: block;
	background-image: none;
	margin: 0;
}
.contact a {
	display: inline-block;
	height: 34px;
	margin: 10px;
	margin-bottom: 0;
	position: relative;
	top: -12px;
}
a.mail,
a.github,
a.linkedin,
a.resume {
	display: inline-block;
	border-radius: 3px;
}
a.github {
	background: #fff url(../img/github_logo.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
	width: 74px;
	padding: 0 3px;
	background-position: center;
}
a.mail {
	background: transparent url(../img/mail.png) 0 0 no-repeat;
	background-size: contain;
	width: 34px;
}
a.linkedin {
	width: 35px;
	font-size: 35px;
}
a.resume {
	background: transparent url(../img/resume.png) 0 0 no-repeat;
	background-size: contain;
	width: 25px;
}
.wrapper hr {
	width: 85%;
}
.project-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}
.project-list > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	text-align: center;
}
/* responsive */
@media only screen and (max-width:800px) {
	body, .wrapper {
		margin: 0 auto;
	}	
	.banner h1, .banner h2, .contact {
		text-align: center;
		margin-left: 0;
	}	
	.content {
		margin: 0;
		min-width: 100%;
		box-shadow: none;
	}	
	.content {
		padding: 10px 0;
		border: none;
		border-radius: 0px;
	}
}
/* animated background */
body {
	width: 100%;
	display: flex;
	background-size: 500% 500%;
	background-image: linear-gradient(45deg, #000 0%, #111 30%, #333 50%, #555 75%, #777 100%);
	-webkit-animation: animateBG 10s linear 1;
	animation: animateBG 10s linear 1;
}
@-webkit-keyframes animateBG {
	0% {
		background-position: 0% 50%;
	}	50% {
		background-position: 50% 50%;
	}	100% {
		background-position: 100% 50%;
	}
}
@keyframes animateBG {
	0% {
		background-position: 0% 50%;
	}	50% {
		background-position: 50% 50%;
	}	100% {
		background-position: 100% 50%;
	}
}