html {
	height:100%;
}
body {
	height:100%;
	width:100%;
	padding:10px;
	overflow:visible;
}
#wrapper {
	width:60%;
	border:#fff 1px dashed;
}
#wrapper, #canvas {
	display:inline-block;
}
/* colors */
p,i,b,a,h1,h2,h3,h4,h5,ul li,ol li,caption,code {
	color:#f2f2f2;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:normal;
}
body {
	background:#222;
	background-attachment:fixed;
}
.gradient {
  background-image:
    radial-gradient(
      circle at top left,
      #111,
      #555
    );
}
header h1,
header h1 b {
	font-weight:bold;
}
header h1 {
	color:#999;
	padding-bottom:20px;
	font-size:42px;
}
header h1 b {
	color:#f2f2f2;
}

/* nav */
#nav {
	width:100%;
}
#nav li {
	display:inline-block;
	width:25%;
	text-align:left;
	border:#f2f2f2 1px solid;
	border-top:none;
	border-right:none;
	padding:5px;
}
#nav li h2 {
	font-size:1.1em;
	font-weight:bold;
	letter-spacing:1px;
}
#nav li:hover,
#nav li.active,
#nav li:hover h2,
#nav li.active h2 {
	text-decoration:none;
	background:#f2f2f2;
	color:#555;
}

/* articles */
.articles {
	display:inline-block;
	width:100%;
}
.articles div {
	padding-top:20px;
}
.articles div p {
	font-size:16px;
	margin:10px 0;
}
.articles div p.title {
	margin-top:30px;
}
.articles img {
	border:#999 2px solid;
	border-radius:2px;
}
a.github,
a.linkedin,
a.xbox {
	height:16px;
	width:40px;
	background:#fff url(../img/github_logo.png) 0 0 no-repeat;
	background-size:contain; /* not so sure about this */
	display:inline-block;
	border-radius:3px;
	text-decoration:none;
}
.contact a {
	height:34px;
	width:80px;
	margin-right:20px;
}
.contact a.linkedin {
	background:transparent url(../img/linkedin_logo.png) 0 0 no-repeat;
	background-size:contain; /* not so sure about this */
	width:40px;
}
.contact a.xbox {
	background:transparent url(../img/xbox_logo.png) 0 0 no-repeat;
	background-size:contain; /* not so sure about this */
	width:40px;
}

/* about */
.about span i {
	color:#999;
}

/* canvas */
.canvas {
    width:30%;
    height:90%;
    position:relative;
    top:0;
    left:-5%;
    float:right;
    border:#fff 1px solid;
}