body {
	height:100%;
	width:100%;
	padding:5px;
	overflow:visible;
}
#wrapper > div {
	cursor:pointer;
}
#wrapper {
	width:auto;
}
/* colors */
p,i,b,a,h1,h2,h3,h4,h5,ul li,ol li,caption,code {
	color:#f2f2f2;
	font-family:helvetica;
	font-weight:normal;
}
body {
	background:#222;
	padding:10px;
}
header h1,
header h1 b {
	font-weight:bold;
}
header h1 {
	color:#f2f2f2;
	padding-bottom:20px;
}
header h1 b {
	color:#999;
}

/* */
header h1 {
	font-size:32px;
}
