html, body {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
body {
	background-color: rgba(0,0,0,.8);
	background-image: url(../img/ellicia-bg.jpg);
	background-size: initial;
	background-blend-mode: multiply;
	background-position: top;
}
body, .wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f2f2f2;
	font-family: 'Exo 2', sans-serif;
}
a {
	text-decoration: none;
	color: #a2d3e8;
}
a:visited {
	color: #f2bf99;
}
.banner {
	margin-left: 10px;
}
.banner h1,
.banner h2 {
	text-align: center;
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}
.banner h1 {
	font-size: 3em;
	margin-top: 5px;
	line-height: 1.5em;
}
.banner h2 {
	font-size: 1em;
	font-weight: normal;
}
.content {
	margin: 0 auto 10px auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	width: 80%;
}
.content div p {
	text-align: justify;
	margin: 20px;
	letter-spacing: 1.7px;
}
.content div.links {
	background: #333;
	padding: 10px;
	border-radius: 0 0 15px 15px;
	border: 2px solid rgba(255,255,255,.7);
	border-top: none;
}
.content div.links p {
	text-align: center;
	margin:  5px;
	max-width: none;
}
.content div p.tech {
	font-size: 14px;
}
.controls {
	flex-grow: 0;
	flex-shrink: 0;
}
.controls ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.controls ul li {
	margin: 0;
	padding: 10px;
	cursor: pointer;
	background-position: right top;
	display: inline-block;
	background: rgba(0,0,0,.8);
	border: 2px solid rgba(255,255,255,.7);
	border-bottom: none;
	border-left: none;
	flex-grow: 2;
	text-align: center;
}
.controls ul li:hover,
.controls ul li.active {
	background: #333;
	color: #fff;
}
.controls ul li:first-child {
	border-radius: 15px 0 0 0;
	border-left: 2px solid rgba(255,255,255,.7);
}
.controls ul li:last-child {
	border-bottom: none;
	border-radius: 0 15px 0 0;
}
p.attribution {
	font-size: 10px;
}
p.attribution a {
	margin: 0;
}
.portal {
	min-height: 300px;
	background: rgba(0,0,0,.9);
	flex-grow: 10;
	border-radius: 0 0 15px 15px;
}
.portal > div {
	margin: 0 auto;
	display: none;
	text-align: center;
}
.portal div p {
	max-width: 75%;
	margin: 20px auto;
}
.portal div.default p {
	text-align: center;
}
.portal div.visible {
	display: block;
}
.portal div label img {
	max-width: 70%;
	max-height: 300px;
	border-radius: 15px;
	border: 2px solid #555;
}

/* click-zoom */
.portal div input[type=checkbox] {
	display: none;
}
.portal div label img {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}
.portal div input[type=checkbox]:checked~img {
	transform: scale(2.5) translate(-10%,0);
	cursor: zoom-out;
}

/* contact panel */
.contact {
	text-align: center;
	margin-bottom: 10px;
}
a.github-sm {
	display: block;
	height: 20px;
	width: 44px;
	background: #fff url(../img/github_logo.png) 0 0 no-repeat;
	background-size: contain;
	border-radius: 5px;
	margin: 10px auto;
}
.contact hr {
	display: block;
	background-image: none;
	margin: 0;
}
.contact a {
	display: inline-block;
	height: 34px;
	margin: 10px;
	margin-bottom: 0;
	position: relative;
	top: -12px;
}
a.mail,
a.github,
a.linkedin,
a.resume {
	display: inline-block;
	border-radius: 3px;
}
a.github {
	background: #fff url(../img/github_logo.png) 0 0 no-repeat;
	background-size: contain;
	margin-left: 10px;
	width: 74px;
}
a.mail {
	background: transparent url(../img/mail.png) 0 0 no-repeat;
	background-size: contain;
	width: 34px;
}
a.linkedin {
	background: transparent url(../img/linkedin_logo.png) 0 0 no-repeat;
	background-size: contain;
	width: 35px;
}
a.resume {
	background: transparent url(../img/resume.png) 0 0 no-repeat;
	background-size: contain;
	width: 25px;
}
a.aws-badge {
	top: 0;
}

/* responsive */
@media only screen and (max-width:800px) {
	body, .wrapper {
		margin: 0 auto;
	}
	.banner h1, .banner h2, .contact {
		text-align: left;
		margin-left: 10px;
	}
	.content, .controls {
		margin: 0;
		min-width: 100%;
	}
	.controls ul li {
		font-size: .7em;
	}
}