/* layout and colors */
html {
	height:100%;
}
body {
	height:100%;
	width:100%;
	background:#f2f2f2;
	color:#222;
}
div {
	padding:0;
	margin:0;
}
.container {
	height:100%;
	width:100%;
	max-width:none;
	margin:0;
	padding:0;
 }
.content {
background: -moz-linear-gradient(141deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 86%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(14%, rgba(255,255,255,1)), color-stop(56%, rgba(255,255,255,1)), color-stop(100%, rgba(97,97,97,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(141deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 86%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(141deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 86%); /* opera 11.10+ */
background: -ms-linear-gradient(141deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 86%); /* ie10+ */
background: linear-gradient(309deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 86%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#616161',GradientType=1 ); /* ie6-9 */
}
.banner,
.menu {
	background:#333;
	color:#f2f2f2;
}
p, h2 {
	color:#333;
}
/* typography */
body {
	font-family: 'Titillium Web', sans-serif;
}
h1 {
	font-size:42px;
}
h2 {
	text-align:left;
	letter-spacing:12px;
	font-size:32px;
	font-weight:bold;
}
ul {
	margin:0 20px;
}
li {
	list-style:none;
	text-align:center;
	font-size:24px;
}
p {
	margin:10px 0;
	line-height:1.2em;
}
hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(68, 68, 68, 1), rgba(68, 68, 68, .75), rgba(0, 0, 0, 0.25), rgba(68, 68, 68, 0));
}

/* banner and menu */
.banner {
	width:100%;
	height:72px;
}
.banner h1 {
	padding:10px 0;
	margin-left:10%;
}
.menu {
	height:100%;
	width:10%;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu li {
	margin:0;
	padding:10px 0 10px 0;
	cursor:pointer;
}
.menu li:hover,
.menu li.active {
	background:#f2f2f2;
	color:#222;
}

/* content and drawer */
.content {
	height:100%;
	/* flex-box */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.content div {
	align-items:stretch;
}
.drawer {
	margin:15px 10px 0 10px;
	width:90%;
}
.drawer div {
	display:none;
}

/* section-specific */
.contact a {
	height:34px;
	margin-left:10px;
	display:inline-block;
	border-radius:3px;
	text-decoration:none;
}
.contact a.github {
	background:transparent url(../img/github_logo.png) center no-repeat;
	background-size:contain; /* not so sure about this */
	width:68px;
}
.contact a.mail {
	background:transparent url(../img/envelope-dark.png) center no-repeat;
	background-size:contain; /* not so sure about this */
	width:34px;
}
.contact a.linkedin {
	background:transparent url(../img/linkedin_logo-dark.png) center no-repeat;
	background-size:contain; /* not so sure about this */
	width:35px;
}
.contact a.resume {
	background:transparent url(../img/resume.png) center no-repeat;
	background-size:contain; /* not so sure about this */
	width:35px;
}

/* mobile */
@media all and (max-width:640px) {
	.menu {
		width:30%;
		position:relative;
		top:-1px;/* fix for odd webkit phantom pixel*/
	}
	.menu ul {
		position:relative;
		top:1px;/* fix for odd webkit phantom pixel*/
	}
	.drawer {
		width:70%;
	}
	.drawer h2 {
		text-align:center;
	}
	hr {
		border: 0;
		height: 3px;
		background-image: linear-gradient(to right, rgba(68, 68, 68, 0), rgba(68, 68, 68, 1), rgba(68, 68, 68, 0));
	}
	.banner h1 {
		margin-left:30%;
	}
}