body {
	height:100%;
	width:100%;
	padding:5px;
	overflow:visible;
}
#wrapper > div {
	cursor:pointer;
}
#wrapper {
	width:auto;
}
/* colors */
p,i,b,a,h1,h2,h3,h4,h5,ul li,ol li,caption,code {
	color:#f2f2f2;
	font-family:helvetica;
	font-weight:normal;
}
body {
	background:#222;
	padding:10px;
}
header h1,
header h1 b {
	font-weight:bold;
}
header h1 {
	color:#999;
	padding-bottom:20px;
	font-size:32px;
}
header h1 b {
	color:#f2f2f2;
}

/* nav */
#nav {
	width:30%;
}
#nav li {
	display:inline-block;
	width:30%;
	text-align:left;
}

/* articles */
.articles div {
	padding-top:20px;
}
.articles div p {
	font-size:14px;
	font-weight:normal;
}
